/*buttons should be pink!*/
.btn{
    background-color: #FACDE6;
    color:black;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 0px;
   
}

h2{
    color: #805999;
    text-decoration: none;
    text-underline-offset:unset;
}
