/*buttons should be pink!*/
.btn{
    background-color: #FACDE6;
    color:black;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 9px;
   
}

h2{
    color: #805999;
    text-decoration: none;
    text-underline-offset:unset;
}

h4 {
    color: #805999;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    }

.cat {
    border-radius: 20px;
    grid-column-gap: 5px;
    gap : 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px;
    box-sizing: border-box;
}

/* Bootstrap provided some grid codes in the html already, so it's useless to do redundant codes anymore in CSS
/* However, I added this grid CSS layouts just for the sake of following the project rubrics :)