/*buttons should be pink!*/
.btn{
    background-color: #FACDE6;
    color:black;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 9px;
   
}

h2{
    color: #805999;
    text-decoration: none;
    text-underline-offset:unset;
}

h4 {
    color: #805999;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    }

/* Grid layout codes are in the html as per bootstrap