
/*buttons should be pink!*/
.btn{
    background-color: #FACDE6;
    color:black;
}

/*--Main_headers in violet*/
 
h1, h4 {
    color: #805999;
}

h2{
    color: #805999;
}

.featurette-heading{
    background-color: #FACDE6;
    padding: 9px;
    border-radius: 9px;
}



/*id lists


skill sets:
1= #software-dev
2= #executive
3= #global
4= #product-mgmt
5= #sales
6= #smm
7=#community
8= #journalism
9= #branding
Github Projects= #github






*/
